= form_for @feedback do |f|
  -if @feedback.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feedback.errors.count, "error")} prohibited this feedback from being saved:"
      %ul
        - @feedback.errors.full_messages.each do |msg|
          %li= msg

  .field.hide
    = f.label        :sprint
    = f.text_field   :sprint_id
  .field
    = f.label        :description
    = f.text_area    :description
  .field
    = f.label        :nice
    = f.radio_button :nice, true
    = f.label        :less
    = f.radio_button :nice, false
  .actions
    = f.submit 'Save'
